body{
    margin-top:20px;
    background-image: url("bg6.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    background-color: rgba(255, 255, 255, 0.402);
    padding: 40px;
    width:50vw;
}
.row{
    margin: 5px
}
#error{
    color: red
}